{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="col-12">
        <h2 class="mb-3" style='display: none;'>{% block title %}{{ 'documents.intro' | trans() }}{% endblock %}</h2>
        <div class="mb-3">
            <a href="{{ path('main_documents') }}">&larr; назад к списку</a>
        </div>
        <div class="mb-5">
            <h4>Аннотация</h4>
            <p>
                В данном программном документе представлено руководство программиста на программное обеспечение
                управления 3D-моделью робототехнической платформы AR-600 в среде симулятора (далее – ПО «Симулятор»).
            </p>
            <h4>Назначение</h4>
            <p>
                ПО «Симулятор» предназначен для реализации автономного управления робототехнической платформой
                антропоморфного типа (АРТП) на основе функциональной 3D-модели в среде симулятора.
                ПО «Симулятор» представляет собой исполняемый модуль 3dlk.exe, 3D–модели в формате max.
            </p>
            <h4>Функциональное назначение</h4>
            <p>
                ПО «Симулятор» предназначен для отработки тактики применения, планирования сложных задач и
                обучения операторов управления АРТП с помощью реализации основных законов механики на функциональной
                3D-модели АРТП и 3D-моделях предметов взаимодействия, а также окружающего пространства.
            </p>
            <p>
                ПО «Симулятор» позволяет вносить изменения в 3D-модель окружающего пространства, создавать
                3D-модели предметов манипулирования. Разработанное программное обеспечение на ПО «Симулятор-У» может
                быть загружено в систему управления АРТП.
            </p>
            <p>
                <strong>В состав АРТП входит:</strong>
                <ul>
                    <li>модуль корпусной;</li>
                    <li>
                        модуль головной (с системой внешнего контроля и наблюдения, в состав которого входит правая
                        и левая камера);
                    </li>
                    <li>модули манипуляторные (правые и левые);</li>
                    <li>модули захватных устройств (правые и левые);</li>
                    <li>модули опорные (правые и левые);</li>
                    <li>
                        система стабилизации и динамического равновесия (приводы, оснащённые датчиками состояния);
                    </li>
                    <li>сенсорная система.</li>
                </ul>
            </p>
            <p>
                <strong>
                    В состав симулятора окружающего пространства и предметов манипулирования входят следующие
                    3D–модели:
                </strong>
                <ul>
                    <li><b>Улица:</b></li>
                    <li>Дом: тип взаимодействия - статическое;</li>
                    <li>Входная дверь: тип взаимодействия - динамическое (двигать, нажать на ручку);</li>
                    <li>Межкомнатная дверь: тип взаимодействия - динамическое (двигать);</li>
                    <li>Окно: тип взаимодействия - статическое;</li>
                    <li>Ключ: тип взаимодействия - динамическое (взять, двигать, ронять);</li>
                    <li>Окно: тип взаимодействия - статическое;</li>
                    <li><b>Прихожая:</b></li>
                    <li>Артишок в вазе: тип взаимодействия - динамическое (взять, двигать, ронять);</li>
                    <li>Выключатель: тип взаимодействия - динамическое (нажать);</li>
                    <li>Картины: тип взаимодействия - статическое;</li>
                    <li>Комод: тип взаимодействия - статическое;</li>
                    <li>Кресло: тип взаимодействия - статическое;</li>
                    <li>Люстра: тип взаимодействия - статическое;</li>
                    <li>Портфель: тип взаимодействия - динамическое (взять, двигать, ронять);</li>
                    <li>Светильник: тип взаимодействия - статическое;</li>
                    <li>Пуф: тип взаимодействия - статическое;</li>
                    <li>Торшер: тип взаимодействия - динамическое (двигать, ронять);</li>
                    <li>Фикус: тип взаимодействия - динамическое (взять, двигать, ронять);</li>
                    <li>Шкаф: тип взаимодействия - динамическое (двигать дверьми);</li>
                    <li>Шторы: тип взаимодействия - статическое;</li>
                    <li><b>Ванная:</b></li>
                    <li>Ванна: тип взаимодействия - статическое;</li>
                    <li>Декор: тип взаимодействия - динамическое (взять, двигать, ронять);</li>
                    <li>Мебель: тип взаимодействия - статическое;</li>
                    <li>Полотенце: тип взаимодействия - динамическое (взять, двигать, ронять);</li>
                    <li>Стиральная машина: тип взаимодействия - динамическое (двигать крышкой, нажать кнопку);</li>
                    <li>Стиральный порошок: тип взаимодействия - динамическое (взять, двигать, ронять);</li>
                    <li>Унитаз: тип взаимодействия - статическое;</li>
                    <li><b>Спальня:</b></li>
                    <li>Пуфик: тип взаимодействия - статическое;</li>
                    <li>Кувшин: тип взаимодействия - динамическое (взять, двигать, ронять);</li>
                    <li>Лампа: тип взаимодействия - динамическое (взять, двигать, ронять);</li>
                    <li>Люстра: тип взаимодействия - статическое;</li>
                    <li>Подушки: тип взаимодействия - динамическое (взять, двигать, ронять);</li>
                    <li>Кровать: тип взаимодействия - статическое;</li>
                    <li>Тумба: тип взаимодействия - статическое;</li>
                    <li>Шкаф: тип взаимодействия - динамическое (двигать дверьми);</li>
                    <li>Шторы: тип взаимодействия - динамическое (двигать).</li>
                </ul>
            </p>
        </div>
        <div class="mb-5">
            <a href="{{ path('main_documents') }}">&larr; назад к списку</a>
        </div>
    </div>
{% endblock %}
