{% macro inputs() %}
    <input type="hidden" class="form-control operator-id" value="" name="operator[id]">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Fullname' | trans() }}</label>
        <div class="col-sm-12">
            <input type="text" class="form-control operator-name" value="" name="operator[name]" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Active' | trans() }}</label>
        <div class="col-sm-3">
            <select class="form-control select2-modal operator-active" name="operator[active]" required>
                <option value="{{ 0 }}"> {{ 'No' | trans() }} </option>
                <option value="{{ 1 }}"> {{ 'Yes' | trans() }} </option>
            </select>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.edit-operator').bind('click', function () {
               var editOperatorForm = $('#editOperatorForm');
                editOperatorForm.attr('action', $(this).data('href'));
                editOperatorForm.find('.operator-id').val($(this).data('id'));
                editOperatorForm.find('.operator-name').val($(this).data('name'));
                editOperatorForm.find('.operator-active').val($(this).data('active'));

                $('.select2-modal').select2({ width: '100%' });
            });

            $('.select2-modal').select2({ width: '100%' });
        });
    </script>
{% endmacro %}