{% extends 'base.html.twig' %}

{% block title %}{{ 'Statistics' | trans() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="panel">
            <strong>{{ 'Here will display statistics data' | trans() }}</strong>
        </div>
    </div>
{% endblock %}