{% macro inputs() %}
    <input type="hidden" class="form-control experiment-id" value="" name="experiment[id]">
    <div class="text-center">{{ "Are you sure you want to delete experiment?" | trans() }}</div>

    <script>
        $(document).ready(function(){
            $('.remove-experiment').bind('click', function() {
                var removeExperimentForm = $('#removeExperimentForm');
                removeExperimentForm.attr('action', $(this).data('href'));
                removeExperimentForm.find('.experiment-id').val($(this).data('id'));
            });
        });
    </script>
{% endmacro %}