{% macro inputs() %}
    <div class="form-group">
        <label class="col-sm-12 control-label">{{ 'Model archive' | trans() }}</label>
        <div class="col-sm-12">
            <input type="file" class="form-control operator-name" value="" name="model" required>
        </div>
    </div>
{% endmacro %}